<!DOCTYPE html>
<html lang="ja">
<head>
  <title> PNsearch </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
  {{ .msg }}
  <table class="table table-striped">
    <thead>
    <tr>
      <th align="center"> 要求番号 </th>
      <th align="center"> 品番 </th>
      <th align="center"> 品名 </th>
      <th align="center"> 形式寸法 </th>
    </tr>
    </thead>

    <tbody>
    {{range .table}}
    <tr>
      <td>{{ .UnitNo }}</td>
      <td>{{ .Pid }}</td>
      <td>{{ .Name }}</td>
      <td>{{ .Type }}</td>
    </tr>
    {{end}}
    </tbody>
  </table>
  <!-- <button type="button" class="create" onclick="location.href = '/api/v1/view/add/form'">作成する</button> -->
  <!-- <button type="button" class="delete" onclick="if(window.confirm('{{ .id }}を削除します。この処理は元に戻せません。')) location.href = '/api/v1/view/{{ .id }}/delete'">削除する</button> -->
  <!-- <button type="button" class="update" onclick="location.href = '/api/v1/view/{{ .id }}/update/form'">更新する</button> -->

</body>
</html>
