{{template "header"}}
<body>
  <form name="window" method="get" action="/search/ui">
    <!-- 検索キーワード入力 -->
    <label for="製番">製番</label>
    <input type="text" name="製番" value="{{ .query.ProductNo }}" size="10">
    <label for="要求番号">要求番号</label>
    <input type="text" name="要求番号" value="{{ .query.UnitNo }}" size="10">
    <label for="品番">品番</label>
    <input type="text" name="品番" value="{{ .query.Pid }}" size="10">
    <label for="品名">品名</label>
    <input type="text" name="品名" value="{{ .query.Name }}" size="10">
    <label for="形式寸法">形式寸法</label>
    <input type="text" name="形式寸法" value="{{ .query.Type }}" size="10">
    <label for="メーカ">メーカ</label>
    <input type="text" name="メーカ" value="{{ .query.Maker }}" size="10">
    <label for="仕入先">仕入先</label>
    <input type="text" name="仕入先" value="{{ .query.Vendor }}" size="10">

    <!-- 表示設定 -->
    {{$querySelect := .query.Select}}
    {{ range $label := .labels }}
      <input type="checkbox" name="select" id="select-{{$label.Value}}" value="{{$label.Value}}"
      {{range $querySelect}}
        {{if eq $label.Value .}}checked{{end}}
      {{end}}
      >
      <label for="select-{{$label.Value}}">{{$label.Name}}</label>
    {{end}}

    <!-- 検索ボタン -->
    <input type="submit" id="submit" value="&#xf002;" class="fas">
  </form>
  {{ .msg }}
  {{template "table" .}}
