<!DOCTYPE html>
<html lang="ja">
<head>
  <title>PN Search Web</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
  <form name="window" method="get" action="/search/ui">
    <!-- 検索キーワード入力 -->
    <label for="製番">製番</label>
    <input type="text" name="製番" value="{{ .query.ProductNo }}" size="10">
    <label for="要求番号">要求番号</label>
    <input type="text" name="要求番号" value="{{ .query.UnitNo }}" size="10">
    <label for="品番">品番</label>
    <input type="text" name="品番" value="{{ .query.Pid }}" size="10">
    <label for="品名">品名</label>
    <input type="text" name="品名" value="{{ .query.Name }}" size="10">
    <label for="形式寸法">形式寸法</label>
    <input type="text" name="形式寸法" value="{{ .query.Type }}" size="10">
    <label for="メーカ">メーカ</label>
    <input type="text" name="メーカ" value="{{ .query.Maker }}" size="10">
    <label for="仕入先">仕入先</label>
    <input type="text" name="仕入先" value="{{ .query.Vendor }}" size="10">
    <input type="submit" id="submit" value="&#xf002;" class="fas">
    <!-- 表示設定 -->
    <input type="checkbox" name="unitno" value="unitno" checked>
    <input type="checkbox" name="pid" value="pid" checked>
  </form>
  {{ .msg }}

  <table class="table table-striped">
    <thead>
    <tr>
      <th align="center"> 発注日 </th>
      <th align="center"> 払出日 </th>
      <th align="center"> 要求番号 </th>
      <th align="center"> 品番 </th>
      <th align="center"> 品名 </th>
      <th align="center"> 形式寸法 </th>
      <th align="center"> メーカ </th>
      <th align="center"> 材質 </th>
      <th align="center"> 必要数 </th>
      <th align="center"> 発注単価 </th>
      <th align="center"> 発注金額 </th>
      <th align="center"> 工程名 </th>
      <th align="center"> 納入場所 </th>
    </tr>
    </thead>

    <tbody>
    {{range .table}}
    <tr>
      <td>{{ .OrderDate }}</td>                <!-- 発注日<br>又は<br>発注指示日 -->
      <td>{{ .RealDeliveryDate }}</td>         <!-- 納入完了日<br>又は<br>払出日 -->
      <td>{{ .UnitNo }}</td>                   <!-- 要求番号 -->
      <td>{{ .Pid }}</td>                      <!-- 品番 -->
      <td>{{ .Name }}</td>                     <!-- 品名 -->
      <td>{{ .Type }}</td>                     <!-- 形式寸法 -->
      <td>{{ .Maker }}</td>                    <!-- メーカ -->
      <td>{{ .Material }}</td>                 <!-- 材質 -->
      <td>{{ .OrderQuantity }}</td>            <!-- 必要数 -->
      <td>{{ .OrderUnitPrice }}</td>           <!-- 発注単価 -->
      <td>{{ .OrderCost }}</td>                <!-- 発注金額 -->
      <td>{{ .Process }}</td>                  <!-- 工程名 -->
      <td>{{ .DeliveryPlace }}</td>            <!-- 納入場所 -->
    </tr>
    {{end}}
    </tbody>
  </table>

</body>
</html>
